
*.ini
*.pyc
*.bak
*.dxf
exe.text
*.dwl
*.dwl2
*.toc
*.pyz
*.manifest
*.pkg
*.html
*.spec
*.zip
*.exe
build/simple_viewer/warn-simple_viewer.txt
*.h
*.const
*.c
*.o
*.pyd
*.dll
*.afm
*.ttf
*.obj
*.cpp
*.bin
*.dblite
simple_viewer.onefile-build/clcache-stats.8788.txt
simple_viewer.onefile-build/scons-report.txt
*.svg
